[submodule "satsolverjs"]
	path = satsolverjs
	url = https://github.com/pochangl/satsolverjs
[submodule "liffjs"]
	path = liffjs
	url = https://github.com/pochangl/liff
[submodule "progress-knight"]
	path = progress-knight
	url = https://github.com/pochangl/progress-knight
	branch = master
